.wash-landing-background {
  background: url('/images/wash-n-dash-landing.png') no-repeat center center fixed;
  background-size: cover;
}

.machine-background {
  background: url('/images/dropBackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

.darkBlue-background {
  background-color: #032661;
  padding-bottom: 2vh;
  padding-top: 3vh;
  background: rgb(0, 0, 0, .4);
}

.crop {
  width: 180px;
  height: 30px;
  margin-top: 5px;
}

.nowrap {
  white-space: nowrap ;
}

/*landing page info animation */
.slideshow {
  display: inline-block;
}

.slideshow span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: info 8s infinite;
  animation: info 8s infinite;
}

.slideshow span:nth-child(2) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}

@-webkit-keyframes info {
  0% {-webkit-transform: translateY(100%);}
  50% {-webkit-transform: translateY(-100%);}
}

@keyframes info {
  0% { opacity: 0; }
  21% { opacity: 0; -webkit-transform: translateY(-20px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); }
  70% { opacity: 1; -webkit-transform: translateY(0px); }
  79% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 0; }
}

/* washing machine loading icon */
#machineLoader {
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  width: 200px;
  height: 220px;
  border: 2px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.loader {
  position: absolute;
  top: 35%;
  left: 20%;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #032661;
  border-right: 16px solid #c2fefe;
  border-bottom: 16px solid #0f55aa;
  border-left: 16px solid #2c98d6;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.knob {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
}

.rectangle {
  width: 50px;
  height: 10px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -92px 0 0 20px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}